/* src/components/GameTable.css */

.table-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}

/* .table-wrapper {
  overflow-x: auto;
  background-color: #ff0000;
} */

.game-table {
  width: 100%;
  height: 100%;
  margin: 25px 7px;
  border-collapse: collapse; 
  border-left: 2px solid rgba(0, 0, 0, 0.333);
  /* min-width: 800px; */
}

/* .game-table thead {
  color: #fff;
  background-color: #16a34a;
} */
th{
  color: #fff;
  background-color: #16a34a;
  border: 1px solid #fff;
  padding: 5px;
}

.sn-ref-cell {
  width: 10%;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  font-size: 14px;
}

.date-cell {
  position: relative;
  color: #000;
  width: 15%;
  border: 1px solid black;
  background-color: whitesmoke;
  font-size: 12px;
}

.game-table tbody tr:hover {
  background-color: #f9fafb;
}

.game-table tbody tr:last-child {
  border-bottom: none;
}


.game-table .winning {
  color: #15803d;
  text-align: center;
  border-bottom: 1px solid rgb(234, 234, 234);
  font-size: 20px; 
}
.game-table .machine {
  color: #ff0000;
  text-align: center;
  border-bottom: 1px solid rgb(234, 234, 234);
  font-size: 20px; 
}
.table-numbers {
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
}

/* .table-ball {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  flex-shrink: 0;
  background-color: #ff0000;
} */

.table-empty {
  padding: 3rem;
  text-align: center;
  color: #6b7280;
}

/* Responsive */
@media (max-width: 768px) {
  .table-wrapper {
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 668px) {
  .table-container {
    /* background-color: #ff0000; */
    /* margin-right: 0.5%; */
    /* width: 200%; */
  }
  .sn-ref-cell {
    width: 20px;
    font-size: 10px;
  }

  .date-cell {
    width: 10px;
    font-size: 8px;
  }

  .game-table .winning,
  .game-table .machine {
    font-size: 15px;
  } 
}